/* 편지 전송 후 우표 획득 팝업 */

body {
    display: flex;
}

/* 팝업창 박스 */
.stamp-obtain-notice-box {
    width: 270px;
    height: 220px;
    background-color: rgba(218, 221, 252, 0.8);
    border-radius: 14px;
    padding-top: 10px; 

    align-items: center;
    text-align: center;
}

/* 우표 이미지 - example */
.stamp-img {
    width: 50px;
    margin: 0 auto;
}

/* 팝업 - 부엉이 우편함 타이틀 */
.stamp-obtain-notice-title {
    font-weight: bolder;
    font-size: 17px;
}

/* 팝업 - 부엉이 우편함 우표 획득 기준 설명 */
.stamp-obtain-notice-explain {
    font-weight: normal;
    margin-top: 7px;
    font-size: 12px;
}

/* 허용 버튼 상단 선 */
hr {
    margin-top: 15px;
    margin-bottom: 10px;
    border-top: 1px solid rgba(60, 60, 67, 0.29);
}

/* 확인 버튼 */
.checkBtn {
    font-size: 17px;
    font-weight: bold;
    color: #007AFF;
    background-color: transparent !important;
    outline: none;
    border: none;
}